body {
  margin: 20px;
  padding: 20px;
}
.lightOff {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0px 0px 25px transparent;
}
.lightOn {
  background-color: rgb(243, 243, 31);
  box-shadow: 0px 0px 25px rgb(213, 213, 2);
}
